body{
    margin:200px;
    background-color: blanchedalmond;
 }
 
 
 div{
     width:600px;
     height: 100px;
 }
 
 .top{
     background-color: green;
     border-top-right-radius: 25px;
 }
 
 .middle{
     background-color: yellow;
 }
 
 .bottom{
    background-color: red;
    border-bottom-right-radius:25px;
 }
 
 .circle{
     border-radius: 50%;
     padding-left: 20px;
     position: absolute;
     margin:-40px 200px;
     border-radius: 50%;
     background-color: blue;
     width:200px;
     height:200px;
 }   
 
 
 img{
     height: 170px;
     width:170px;
 }
 